.logoutContainer {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    margin: 15px 5px 0px 5px;
}