.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 100px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 50px;
}

.App-link {
  color: #09d3ac;
}
